@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecebeb;
    font-family: 'Saira', sans-serif;
}

.page-container {
    position: relative;
    /*min-height: 100vw;*/

}

header {
    padding-bottom: 100px;
    z-index: 3;
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#D3D3D3;
    min-height: 8vh;
}

.nav-menu {
    display: flex;
}

.nav-menu li a{
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
}

.nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px
}

.nav-menu-link:hover{
    transition: 0.5s; 
    color: #1883ba;
    background-color: #ffffff;
}

.admin {
    display: flex;
    align-items: center;
}

.image{
    height: 50px;
}

.avatar{
    border-radius: 50%;
    height: 35px;
    margin-left: 30px;
    margin-right: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.footer-gp {
    /*position: fixed;*/
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.footer_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}
a.down{
    line-height: 80px;
}
a:hover {color: #002FA7;}
a:active {color: #0000FF;}

section{
    margin-top: 10%;
}

textarea {
    resize: none;
}

ul{
    list-style: none;
}

.section-item{
    line-height: 50px;
    font-size: 20px;
}

.custom-button{
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    background-color: #999999;
    border-radius: 6px;
}
.custom-button:hover{
    transition: 0.5s; 
    color: #1883ba;
    background-color: #ffffff;
}

.login-box{
    width: 30%;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.login-box input{
    width: 100%;
    margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="submit"],
.login-box input[type="email"]{
    border-radius: 5px;
    border: 2px solid #D3D3D3;
    outline: none;
    height: 30px;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder
{
    text-align: center;
}

#titulo_noticia{
    width: 604px;
    height: 25px;
}

#titulo_votacion{
    width: 604px;
    height: 25px;
}

.article{
    width: 50%;
    height: 100%;
}

.cards {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:1.5rem;
    padding:1rem;
    margin: 0;
}

.card {
    display:flex;
    flex-direction:column;
    flex:1 0 300px;
    max-width:450px;
    max-height: auto;
    overflow:hidden;
    background:#fff;
    color:#000;
    box-shadow:3px 2px 14px hsla(0,0%,100%,.2);
    text-decoration:none;
    font-size:1rem;
    transition:all .2s ease-in-out;
    margin: 1rem;
}

.card:hover {
    transform:translateY(-1rem);
    box-shadow:2px 3px 18px hsla(0,0%,100%,.4)
}

.card_image {
    flex:0 0 120px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50%;
}

.boton-rojo{
    background-color: red; 
    color: white; 
    font-size: 15px;
}

.card_content {
    display:flex;
    flex-direction:column;
    height:100%;
    padding:1rem;
}

.card_title {
    font-size:1rem;
    font-weight:700;
    text-align: center;
}

.card_article {
    color: #828282;
}

.card_article,.card_title {
    margin-bottom:.5rem
}

.card_author {
    padding: 1rem;
    margin-left: -16px;
}

.section_title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

hr {
    border: #828282 solid 0.5px;
    width: 150px;
    margin: auto;
}

.th {
    border: 2px solid #dddddd;
}

.td {
    text-align:center; 
    padding: 10px 0; 
    border: 2px solid #dddddd;
}

.table {
    border-spacing: 25px; 
    border-collapse: collapse;
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;
}

.table-header{
    background-color: #FF4742;
}

/* mensaje  */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* boton de cerrado */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.closebtn:hover {
    color: black;
}

.info-button {
    border-style: none;
    background-color: rgb(236, 235, 235);
}


#contenedor {
    float: left;
    width: 804px;
}

#tabla1, #tabla2 {
    float: left;
    width: 400px;
}

#tabla1 table, #tabla2 table {
    text-align: center;
}

#tabla1 table tr td, #tabla2 table tr td {
    width: 100px
}

.err-msg p {
    color: red;
    text-align: center
}

.login-box p {
    text-align: center
}

.circuitos-form input {
    border-radius: 40px
}

.circuitos-form input:focus {
    outline: 0;
    border-color: #bd8200;
    color: #f0a500;
    border-right-color: #f0a500;
}

.circuitos-form-container {
    margin: auto;
}


.btn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 20px;
}

.btn:hover,
.btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn:active {
    opacity: .5;
}

.btn a:hover {
    text-decoration: none;
    color:#FF4742;
}

.content-gp {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.btn a i .fas fa-user-plus {
    margin-left: 10px;
}

.btn .fas {
    margin-left:10px;
}

/*G-pilotos table*/

.table-gp {
    border: 0.5px solid #595260;
}

.tr-gp:nth-child(2n+1) {
    background-color: white;

}

.td-gp {
    width: 400px;
    height: 50px;
    text-align: center;
    opacity: 0.7;
}

.td-icons-gp {
    width: 100px;
    height: 50px;
    text-align: center;
}

.td-icons-gp .fas{
    color:  #FF4742;
}

.trash-button {
    border-style: none;
    color: #FF2E2E;
    background-color: rgb(236, 235, 235);
}

/*---Form---*/

.form-gp {
    display: flex;
    justify-content: center;
}

.form-table-gp {
    text-align: center;
}

.form-table-gp 
input[type="text"], input[type="number"] {
    width:300px;
    height: 35px;
}

/*---NavBar---*/

.topnav a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.topnav a:hover {
    color: #ff4742;
}

.topnav a.active {
    background-color: #828282;
    color: white;
}

.topnav .icon {
    display: none;
}

.avatar-name {
    display: flex; 
    align-items: center; 
    flex-wrap: nowrap; 
    margin: 0; 
    padding: 0; 
    margin-right: 30px
}

.logo {
    padding-right: 30px;
}

.clear { clear: both; height: 60px; }

@media screen and (min-width:850px) {
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        overflow: hidden;
        background-color: #D3D3D3;
    }

    .nav-element a:not(:last-child) {
        margin-right: 25px;
    }
}

@media screen and (max-width: 850px) {
    .topnav {
        width: 100vw;
        overflow: hidden;
        background-color: #D3D3D3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .nav-element a {
        display: none
    }

    .topnav a.icon {
        float: right;
        display: block;
        padding: 20px;
    }

    .topnav.responsive {
        position: relative;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .logo {
        padding: 10px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }

    .avatar-name {
        visibility: hidden;
    }

    .image {
        height: 40px;
    }
    
    .nav-element a {
        margin-right: 0px;
    }

}
